{% extends 'base.html' %}

{% load static %}


    {% block basefile %}

   <div class="container">
        <div class="container-heading5"><h1>NOMINATION & VOTING</h1></div>
    </div>
    <section class="enter-text">
        <div class="first-text">
            <h1>Branding Entries & Public Voting</h1>
        </div><hr>
        <div class="second-text">
          <h4><strong>THE NOMINATION AND VOTING PLATFORM FOR BOTH THE GLOBAL AND AMERICAS EDITIONS OF THE WORLD BRANDING AWARDS ARE NOW OPEN.</strong></h4> 
        </div>
        <div class="btn">
            <div class="inner"><a href="/vote">VOTE NOW</a></div>
        </div>
        <div class="third-text">
            <p>The next World Branding Awards ceremony will be the Animalis Edition, will take place in July 2021 at Hofburg Palace – Vienna, and the Global Awards will return to the home of the World Branding Forum at Kensington Palace, London in the Autumn of 2021.</p>
        </div><hr>
        <div class="fourth-text">
            <h4><strong>If you are an agency or brand owner and would like to submit your brand for the World Branding Awards, please click the button below.</strong></h4>
        </div>
        <div class="btn2">
            <div class="inner"><a href="#">START BRAND SUBMISSION</a></div>
        </div>
        <div class="five-text">
            <p class="first">Entry nomination and registration requires providing detailed information about the brand being nominated.</p>
            <p>There is an administrative fee of £180 per entry</p>
            <p class="small">Excludes VAT for UK  and non-VAT registered EU brands.</p>
        </div><hr>
        <div class="six-text">Already registered? <span><a href="#">Login here.</a></span></div>
        <div class="seven-text"><a href="#">Click here for the Cancellation Policy for Participating Brands</a></div>
    </section>

{% endblock basefile %}