
{% extends 'base.html' %}
{% block basefile %}
{% load static %}
<script>
    function cardfun1(x){
        if(x==1){
            document.getElementById('card1').style.height="130px"
            document.getElementById('card2').style.height="20px"
            document.getElementById('card3').style.height="20px"
            document.getElementById('btn1').style.backgroundColor="#0b143b"
            document.getElementById('btn2').style.backgroundColor="#fff"
            document.getElementById('btn3').style.backgroundColor="#fff"
        }
    }
    function cardfun2(x){
        if(x==2){
            document.getElementById('card2').style.height="130px"
            document.getElementById('card1').style.height="20px"
            document.getElementById('card3').style.height="20px"
            document.getElementById('btn2').style.backgroundColor="#0b143b"
            document.getElementById('btn1').style.backgroundColor="#fff"
            document.getElementById('btn3').style.backgroundColor="#fff"
        }
    }
    function cardfun3(x){
        if(x==3){
            document.getElementById('card3').style.height="130px"
            document.getElementById('card1').style.height="20px"
            document.getElementById('card2').style.height="20px"
            document.getElementById('btn3').style.backgroundColor="#0b143b"
            document.getElementById('btn2').style.backgroundColor="#fff"
            document.getElementById('btn1').style.backgroundColor="#fff"
        }
    }
</script>

    <div class="container">
        <div class="heading1"><h1>JUDGING & VOTING</h1></div>
    </div>
    <div class="icon">
        <img src={% static 'image/logo2.png' %} alt="">
    </div>
    <div class="heading2">
        <h2>
            THE JUDGING AND VOTING PROCESSES OF THE WORLD BRANDING AWARDS ARE UNIQUE AS POINTS ARE AWARDED THROUGH THREE STREAMS, WITH EACH STREAM CONTRIBUTING A SET PERCENTAGE TO THE TOTAL SCORE IN EVALUATING A BRAND.
        </h2>
    </div>
    <div class="wheel">
        
    </div>

    <section class="data">
        <div class="outer-box">
            <div class="box">
                <div class="btn">
                    <button id="btn1" onclick="cardfun1(1)">+</button>
                </div>
                <div class="text-area" id="card1">
                    <h5>BRAND VALUATION – 30%</h5>
                    <div class="p-text">
                        <p>The World Branding Forum’s research department conducts a financial valuation of a brand based on an income approach model, which also takes into account a projection period. For public companies, data is gathered from available published sources, while for non-public companies, audited financial data is provided by the companies for evaluation or from publicly available sources.</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="btn">
                    <button id="btn2" onclick="cardfun2(2)">+</button>
                </div>
                <div class="text-area" id="card2">
                    <h5>PUBLIC ONLINE VOTING – 30%</h5>
                    <div class="p-text">
                        <p>The World Branding Forum runs an ongoing online nomination and voting platform designed specifically for online research. Although this may be considered as a populist or peoples’ choice vote, the scores for this stream only contributes to one part of the judging process, so the popularity aspect of a brand alone may not result in a brand winning</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="btn">
                    <button id="btn3" onclick="cardfun3(3)">+</button>
                </div>
                <div class="text-area" id="card3" >
                    <h5>CONSUMER MARKET RESEARCH – 40%</h5>
                    <div class="p-text">
                        <p>The World Branding Forum’s research centre conduct targeted consumer market research in all countries that are selected for the awards. The results from this survey contribute to the market research score for that brand both globally and also for a particular country.</p>
                    </div>
                </div>
            </div>
            <p id="extra-text">The evaluation/voting format was modified in November 2014 for the 2015-2016 Awards.</p>
            <hr>
        </div>
    </section>

    <section class="two">
        <div class="box">
            <h2>ADVISORY COUNCILS</h2>
            <p>Advisory Councils may be setup from time to time. Council members are involved with the nomination and voting process for special awards. </p><hr>
        </div>
    </section>
    <section class="three">
        <div class="box">
            <div class="btn"><a href="#">VOTE FOR YOUR FAVOURITR BRAND!</a></div>
            <div class="btn"><a href="#">BRANDS & AGENCIES NOMINATION PROCESS</a></div>
        </div>
    </section>

{% endblock basefile %}