{% extends 'base.html' %}

{% load static %}

{% block basefile %}
    <div>
        <div class="main-title"><h1>MEDIA CENTRE</h1></div>
    </div>
    <section class="main-media">
        <div class="main">
            <h4>FOR PRESS CONTACT INFORMATION AND PRESS RELEASES,
                PLEASE VISIT THE MEDIA CENTRE AT THE WORLD BRANDING FORUM.
            </h4>
        </div>
        <div class="btn1">

            <a href="http://brandingforum.org/media-centre/">GO TO MEDIA CENTRE</a>
        </div>
    </section>
{% endblock basefile %}
